.navbar {
	background-color: #337ab7;
	border-color: #337ab7;
	font-family: 'Montserrat', sans-serif;
	-webkit-box-shadow: 0px 5px 11px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 5px 11px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 5px 11px 0px rgba(50, 50, 50, 0.75);
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover {
    border: 1px solid white;
	background-color: rgba(50, 50, 50, 0.75);
	color: white;
	font-weight: 600;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

.navbar-default .navbar-nav>li>a:hover {
	border: 1px solid white;
	background-color: rgba(50, 50, 50, 0.75);
	color: white;
	font-weight: 600;
}